#labyrinth-tank {
    width: 5px;
    height: 5px;
    
}

#pearly-gates {
    width: 5px;
    height: 5px;
    
}

 body {

    background-color: dodgerblue; 
}

h1 {
    font-size: 80px;
    
}

main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-board{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
    


#maze-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 80px);
    grid-template-rows: repeat(7, 80px);
    grid-gap: 0px;
    height: 70vh;
    width: 70vw;
    z-index: 0;
}

.character-container{
    z-index: 1;
}



.cell {
    width: 80px;
    height: 80px;
    border: 1px solid #000;
}

.wall {
    background-color: #000;
}
